body{
  background-image: linear-gradient(to bottom right, #02015c, #57a5ff);;
}
.App{
  background-color: #389740;
  min-height:500px;
  width: 500px;
  margin: 100px auto;
  border-radius: 10%;
  box-shadow: 5px 10px #414141
}

#to-do-form input{
  background-color: rgba(27, 112, 137, 1);
  border: 0; 
  color: #fff;
  width: 200px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 10px;
}
#to-do-form input::placeholder{
  color: rgba(255,255,255,0.5);
}
#to-do-form input:focus{
  outline: none;
}
#to-do-form button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: #ce1f1f; 
  cursor: pointer;
}
#to-do-form button:focus{
  outline: none;
}

#btn:hover {
  background-color: #e78708;
  color: white;
}